Default ping for websockets

**Describe the bug**
Websockets rely on ping/pongs to tell whether the connection is alive or stalled.
My observeration is, that opening a websocket pings aren't send per default, this is somewhat unfortunate.

**To Reproduce**
1. Create an empty `WebSocketController` with the three functions needed
2. don't send a message for at least 1 minute (with Firefox)
3. The connection will be terminated by firefox with 1006

**Expected behavior**
The connection is kept alive, because nothing else tells me that I should manually call `setPingMessage` on a connection.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser Firefox
 - Version 86

@hellow554 Thanks so much for reporting the issue, actually, someone may hope ping messages are sent by clients, I think we should give enough flexibility to users.

@rbugajewski @marty1885 Do you think we should send ping messages on websockets by default?

Agree. IMO let's document this behavior and let users decide if the server should ping actively.

I somewhat disagree with this, because if something breaks, the user/programmer will always be confused in the first place, e.g. why does my websocket suddenly disconnect, is it in **my** code?

We assume, that the library does everything right, so the first day or two will be spent in the own code.

IMHO there are two ways out:
1. Just send a ping every now and then
2. adjust the doc, but honestly, if you read the doc, you're desperate enough and already spent a day on your own code. Document it so well, that it spots right in your eyes, when you write the program in the first place, e.g. use the doc of the `handleNewConnection` function or rename the function `handleNewConnectionAndDontForgetToTurnOnYourPings1111`

Somewhat disappointing though, if I search for ping on https://drogon.docsforge.com/master/controller-introduction/controller-websocketcontroller/#websocketcontroller I don't get a single match.
Even https://drogon.docsforge.com/admin/search-in-project/master/?q=ping is not very good.
Only https://drogon.docsforge.com/master/api/drogon/WebSocketConnection/setPingMessage/ just gives you a tiny, tiny note that pings are automatically replied. But I don't want to look at `setPingMessage` if I want to know wheter pings are automatically answered by default or how to enable pings. They need to be part of the wiki especially https://drogon.docsforge.com/master/controller-introduction/controller-websocketcontroller/

Don't get me wrong, this library is good, in fact it's so good that I abandoned uWebsocket for it, because I got so many runtime errors there (closed sockets not detected and handled correctly, Options not automatically answered and must be explicitly handled, ...)

So please, invest some time in the lovely docs. They are already good, just make them better ❤️ 

Okay, I think I was kind of persuaded by you, I'll make a pr for this.

@hellow554 Please check the PR #767, thanks.

I think this is a little bit subjective, and it’s a pity that this issue is already closed, because we have no more ground for discussion 😅

Personally I don’t like “automagical” behavior, so I would’ve stayed with the former behavior, but extended the docs (which are indeed improvable, thanks for your feedback!), and I would’ve changed the error message to give framework users a hint that a missing ping could be responsible for a stalled connection.

> Personally I don’t like “automagical” behavior

Same for me, but yet we do automatically answer pings ;)
Seriously: If it is a crucial part of a communication, it should be done without the end programmer choosing it to do so.

> I would’ve changed the error message

The big problem is that there was no error message at all! I use Firefox, and the only response I get is a socket closed with code 1006. No more indication that anything happened at all. It was only a wild guess in my application and then it stopped disconnecting after 60 seconds.

---

One thing one might concider to do is sending a sole pong instead of a "bloated" ping. Citing [RFC6455 section 5.5.3](https://tools.ietf.org/html/rfc6455#section-5.5.3)

> A Pong frame MAY be sent unsolicited.  This serves as a unidirectional heartbeat.  A response to an unsolicited Pong frame is not expected.

What is your opinion about that? 

> Seriously: If it is a crucial part of a communication, it should be done without the end programmer choosing it to do so.

Yes, I agree.

> The big problem is that there was no error message at all! I use Firefox, and the only response I get is a socket closed with code 1006. No more indication that anything happened at all. It was only a wild guess in my application and then it stopped disconnecting after 60 seconds.

OK, I see. Now this is really bad and I better understand your initial argument. I also agree that this shouldn’t happen at all. The now current behavior after the merge is a good workaround in this case.

> One thing one might consider to do is sending a sole pong instead of a "bloated" ping. Citing [RFC6455 section 5.5.3](https://tools.ietf.org/html/rfc6455#section-5.5.3)
> 
> > A Pong frame MAY be sent unsolicited.  This serves as a unidirectional heartbeat.  A response to an unsolicited Pong frame is not expected.
> 
> I don't know if this works! I haven't tested it yet!
> What is your opinion about that?

That sounds interesting, but don’t we need a Ping frame first? And if the server wouldn’t send any Ping frames to the client (or vice versa), the Pong wouldn’t be according to the specs, or am I missing something?

I think the biggest issue here is that Drogon can be used as a server, but also as a client, and the WS behavior can be slightly different for both use cases. I think this is a great discussion for the upcoming Drogon 2.0 rewrite, as we could also take the chance to streamline WS integration.

But I’m somehow still unsure how we can make a developer’s life easier while also keeping the flexibility. I don’t like frameworks where I have to disable features in order to get a running software, I prefer it the other way around 😅